<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>绿豆网|来绿豆一起拼车，拼玩，拼房，拼购</title>
<link href="__ROOT__/static/css/xtyle.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__ROOT__/static/js/jquery-1.6.2.min.js"></script>
</head>
<body class="bg">
<include file='Public:header' />
<div id="body" class="ah">
	<div class="w9">
<div class="boxuser1 ah">
<include file='Public:memu' />
<script>
	$(".side-nav li").eq(9).addClass('current J_GoToLogin');
</script>
	<div class="userzxright">
		<div class="title">修改登录密码</div>
			<form action="{:U('Spacecp/reset_password')}" method='post' onSubmit='return checkPassword(this)' class='fms' name='myform'>
				<p><span>原始密码:</span><input type='password' name='old_password' id='old_password' class="ipt9" /></p>
				<p><span>新密码:</span><input type='password' name='password' id='password' class="ipt9" /></p>
			    <p><span>确认密码:</span><input type='password' name='comfirm_password' id='comfirm_password' class="ipt9" /></p>
				<p><span>&nbsp;</span><input type='submit' name='submit' value='提交' class="bt1" /></p>
			</form>
	</div>
	
	</div>
	</div>
	</div>
</div>
<include file='Public:footer' />
</body>
</html>
<script language='javascript'>
function checkPassword(frm) {
	var msg = '';
	if ($.trim(frm.elements['old_password'].value).length < 6 || 
		$.trim(frm.elements['password'].value).length < 6 || 
		$.trim(frm.elements['comfirm_password'].value).length < 6) 
	{
		msg += '密码长度不能低于6位' + '\n';
	} else if ((frm.elements['password'].value).match(/ /)) {
		msg += '密码中不能含有空格' + '\n';
	} else {
		if (frm.elements['comfirm_password'].value != frm.elements['password'].value) {
			msg += '新密码输入不一致' + '\n';
		}
	}
	
	if (msg.length > 0) {
		alert(msg);
		return false;
	} else {
		return true;
	}
}
</script>